name: Publish Package to npmjs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        # get all the tags
        fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - run: |
          cd plugins/backstage-plugin-flux
          yarn install --frozen-lockfile

          # copy over the example npmrc file and publish
          cp .npmrc.example .npmrc
          ./publish.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
